<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814572536809-r2cr3tedktt6l5leacqdtok0linokjsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814572536809-r2cr3tedktt6l5leacqdtok0linokjsa</string>
	<key>API_KEY</key>
	<string>AIzaSyBE4L2r4WE5GCqfFsAvq8zRAgql8YUYDY8</string>
	<key>GCM_SENDER_ID</key>
	<string>814572536809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.mahmudahsan.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-20308</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-20308.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814572536809:ios:d6b0e7d72998b8a8</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-20308.firebaseio.com</string>
</dict>
</plist>